body {
    background-color: #293225;
}  

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .boxHolder {
    display: flex;
  }
  
  img {
    max-width: 150px;
    max-height: 150px;
  }
  
  .text {
    color:white;
    font-size: 20px;
    text-align: left;
    padding-top: 32px;

  }
  
  .text2 {
    color:white;
    font-size: 20px;
    padding: 20px;
    text-align: right;
    padding-top: 32px;
  }
  
  h1 {
    margin: 0;
  }
  
  