body {
    background-color: #293225;
}

* {
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    margin-left:3.1rem;
    margin-right:3.1rem;
}
nav ul {
	display: flex;
	list-style: none;
	gap: 1rem;
}
nav a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	transition: 0.5s;
}

nav a:hover {
	color: rgb(146, 201, 46);
	cursor: pointer;
}

@font-face {
    font-family: formFont;
    src: url(JejuGothic-Regular.ttf);
}

input[type="password"], input[type="text"] {
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    padding-left: 5rem;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: formFont;
}


.form {
    padding-bottom: 2rem;
}

.inputFormat {
    margin: 1rem 2rem 1rem 2rem;
    min-width: 10rem;
    max-width: 100vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-evenly;

}


a {
    padding: 11px 15px;
    margin-right: 20px;
    display: inline-block;
}

a svg {
    display: inline-block;
    vertical-align: middle;
}

/* Style the buttons */
.btn {
    font-size: 11px;
}

/* Style the active class, and buttons on mouse-over */
.active {
    background-color: #597e0e;
    color: white;
}

.block-group {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.block {
    width: 400px;
    height: 80%;
    background-color: #e0e0e0;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
}

.group {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
    height: 50%;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #74992e;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  transition: 0.5s;
}


.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #88bc27;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  transition: 0.5s;
}


.navStyle{
    padding: 1rem;
    font-size: 12px;
    background-color: #1d221a
  }

  @media screen and (max-width: 1100px) {
    .block-group{
      display: inline-block;
      flex-wrap: wrap;
    }

}
